<div class="row">
  <% @demo_gems.each do |demo_gem| %>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= link_to(demo_gem.github, title: 'Show in GitHub') do %>
            <%= image_tag('GitHub.png', width: '25', height: '25',alt: 'GitHub') %>
        <% end %>
        <%= link_to(demo_gem.rubygems, title: 'Show in RubyGems') do %>
            <%= image_tag('RubyGems.png', width: '25', height: '25',alt: 'RubyGems') %>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="thumbnail">
          <div class="thumbnail-image">
          <%= image_tag demo_gem.image_url(:thumb) %>
          </div>
          <div class="caption">
            <h3><%= demo_gem.name %></h3>
            <div>
              <%= demo_gem.description %>
            </div>
            <div>
              <%= link_to demo_gem, class: 'btn btn-success' do %>
                  <i class='icon-list-alt'></i> Show
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if can? :manage, DemoGem %>
      <div class="panel-footer">
        <%= link_to edit_demo_gem_path(demo_gem), class: 'btn btn-warning' do %>
            <i class='icon-pencil'></i> Edit
        <% end %>
        <%= link_to demo_gem,method: :delete,data: { confirm: 'Are you sure?' },class: 'btn btn-danger' do %>
            <i class='icon-trash'></i> Destroy
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to new_demo_gem_path, class: 'btn btn-primary' do %>
  <i class='icon-doc-add'></i> New GEM
<% end %>

