<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @demo_gem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @demo_gem.description %>
</p>

<p>
  <%= image_tag @demo_gem.image_url %>
</p>

<p>
  <strong>Created on:</strong>
  <%= @demo_gem.created_at %>
</p>

<p>
  <strong>Last modified on:</strong>
  <%= @demo_gem.updated_at %>
</p>

<p>
  <%= link_to(@demo_gem.github, title: 'GitHub') do %>
      <%= image_tag('GitHub.png', width: '25', height: '25',alt: 'Show in GitHub') %>
  <% end %>
</p>

<p>
  <%= link_to(@demo_gem.rubygems, title: 'RubyGems') do %>
      <%= image_tag('RubyGems.png', width: '25', height: '25',alt: 'Show in RubyGems') %>
  <% end %>
</p>



<p>
  <strong>Code:</strong>
  <%= eval(@demo_gem.code).html_safe %>
</p>

<%= link_to 'Edit', edit_demo_gem_path(@demo_gem) %> |
<%= link_to 'Back', demo_gems_path %>
